.chat-page-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.chat-header {
    background-color: #acd0fa;
    color: rgb(50, 47, 47);
    padding: 10px;
}

.chat-header-info {
    display: flex;
    align-items: center;
    padding: 10px;
}

.chat-header-names {
    display: flex;
    flex-direction: column;
}

.chat-messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 20px;
}

.chat-bubble {
    max-width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.chat-bubble:before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent #FFF transparent transparent;
}

.chat-bubble.mine {
    align-self: flex-end;
    background-color: #E9EBEE;
}

.chat-bubble.mine:before {
    right: -10px;
    border-width: 10px 0 0 10px;
}

.chat-bubble.theirs {
    align-self: flex-start;
    background-color: #FFF;
}

.chat-bubble.theirs:before {
    left: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #FFF transparent transparent;
}

.chat-message-writer {
    position: absolute;
    top: -20px;
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    padding: 0 10px;
}

.chat-message-writer.me {
    left: 0;
}

.chat-message-writer.other {
    right: 0;
}

.chat-bubble-message {
    padding: 5px 10px;
}

.chat-input-container {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 10px;
}

.chat-input-container input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #E9EBEE;
    font-size: 16px;
    line-height: 1.5;
}

.chat-input-container button {
    background-color: #4285F4;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.chat-alter {
    color: rgb(255, 152, 152);
}